
  <div class = "mypage-wrap">
    <h2 class = "mypage-title">
      <%= current_user.nickname %>
      さんのマイページ
    </h2>
    <div class = "mypage-contents">
      <h3 class = "mypage-subtitle">
        お気に入り一覧
      </h3>
      <% if @bookmark_list.present? %>
        <ul class ="mypage-list">
            <% @bookmark_list.each do |item| %>
          <li class = "mypage-list-wrap">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image , class:"mypage-image"%>
              <h4 class= "mypage-name"><%= item.name %></h4>
              <h4 class= "mypage-taste"><%= item.taste  %></h4>
              <%end%>
            <%end %>
          </li>
      <%else%>
        <h3>お気に入りはありません<h3>
      <%end%>
        </ul>
    </div>

    <div class = "mypage-contents">
      <h3 class = "mypage-subtitle">
        投稿一覧
      </h3>
      <% if @items.present? %>
      <ul class="mypage-list">
          <% @items.each do | item |  %>
            <li class = "mypage-list-wrap">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image , class: "mypage-image" %>      
                <h4 class="mypage-name"><%= item.name %></h4>
                <h4 class="mypage-taste"><%= item.taste %></h4>
              <% end %>
          <% end%>
            </li>
          <% else%>
             <p>投稿がありません</p>
          <% end %>
      </ul>
    </div>
  </div>
  <%= render "shared/footer"  %>

