<div class = "home">
    <div class="top">
        <div class = "top-wrap">
        <%= render "shared/header"  %>
            <div class="top-title-wrap">
                <h1 class = "top-title">Being healthy<br>is the best<br>Plog</h1>
            </div>
            <div class = "top-form">
                <%= form_with(url: search_items_path, local: true, method: :get, class: "top-search-form") do |form| %>
                <%= form.text_field :keyword, placeholder: "商品名または味でプロテインを検索する", class: "top-search-input" %>
                <%= form.submit "検索", class: "top-search-btn" %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="contents">
        <div class="item-contents">
            <h2 class="item-title">Protein index</h2>
            <ul class="item-list">
                <% if @items.present? %>
                    <% @items.each do | item |  %>
                        <%= render partial: "item", locals: { item: item } %>
                    <% end%> 
                <% else%>
                    <p>投稿がありません</p>
                <% end%>
            </ul>
        </div>
        <div class="side-ber">
            <ul class="side-info">
              <% if user_signed_in? %>
                    <h3 class= "side-title">
                        <%= link_to current_user.nickname , user_path(current_user), class: "sidebar-user-nickname"%>
                        さんのお気に入り一覧
                    </h3>
                    <% if @bookmark_list.present? %>
                        <% @bookmark_list.each do |item|%>
                            <li class= "bookmark-list">
                                <%= link_to item_path(item.id) do %>
                                    <div class= "bookmark" >
                                        <%= image_tag item.image ,class: "bookmark-image"%>
                                        <div class="bookmark-text">
                                            <h4 class= "bookmark-name"><%= item.name %><h4>
                                            <h4 class= "bookmark-taste"><%= item.taste %><h4>
                                        </div>
                                    </div>
                                <%end%>
                            <li>
                        <% end %>
                    <%else%>
                        <p>お気に入りはありません</p>
                    <%end%>

                <%= link_to(new_item_path,class: "post-btn") do  %>
                    <span class= "post-btn-text">投稿</span>
                    <%= image_tag "icon_barbell.png"  , class: "post-btn-icon" %>
                <%end%>
                <%else %>
                <li> 
                    <div class="user-info-container">
                        <div class="side-container">
                            <h2>新規登録</h2>
                            <div class="explan-login">
                                <span>新規登録をすると、お気に入りのプロテインを保存したり、投稿できたりします。</span>
                            </div>
                            <div class="sign-up-box">
                                <%= link_to "新規登録" , new_user_registration_path , class: "side-sign-up" %> 
                            </div>
                        </div>
                    </div>
                </li>
                <li> 
                    <div class="user-info-container">
                        <div class="side-container">
                            <h2>ログイン</h2>
                            <div class="explan-login">
                                <span>登録済みの方はこちらへ。</span>
                            </div>
                            <div class="sign-up-box">
                                <%= link_to "ログイン" , new_user_session_path , class: "side-sign-up" ,method: :post %>
                            </div>
                        </div>
                    </div>
                </li>
                 <li> 
                    <div class="user-info-container">
                        <div class="side-container">
                            <h2>ゲストログイン</h2>
                            <div class="explan-login">
                                <span>新規登録をせずに機能をお試しできます。</span>
                            </div>
                            <div class="sign-up-box">
                                <%= link_to "お試し" , users_guest_sign_in_path , class: "side-sign-up" ,method: :post %>
                            </div>
                        </div>
                    </div>
                </li>
            <%end %>  
            </ul>
        </div>
    </div>
    <%= render "shared/footer"  %>
</div>
                           