<%= render "shared/header"  %>
<div class="top">
        <div class="top-title">
            <h1>プロテインを選ぶなら<br>アプリ名</h1>
            <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
                <%= form.text_field :keyword, placeholder: "プロテインを検索する", class: "search-input" %>
                <%= form.submit "検索", class: "search-btn" %>
            <% end %>
        </div>
    </div>
    <div class="contents">
        <div class="item-contents">
            <h2 class="item-title">Protein index</h2>
            <ul class="item-list">
                <% @items.each do | item |  %>
                    <%= render partial: "item", locals: { item: item } %>
                <% end%> 
            </ul>
        </div>
        <div class="side-ber">
            <ul class="side-info">
              <% if user_signed_in? %>

                    <h3 class= "side-title">
                        <%= link_to current_user.nickname , user_path(current_user), class: "user-nickname"%>
                        さんの お気に入り一覧
                    </h3>
                    <% if @bookmark_list.present? %>
                        <% @bookmark_list.each do |item|%>
                            <li class= "bookmark-list">
                                <%= link_to item_path(item.id) do %>
                                    <div class= "bookmark" >
                                        <%= image_tag item.image ,class: "bookmark-image"%>
                                        <div class="bookmark-text">
                                            <h4 class= "bookmark-name"><%= item.name %><h4>
                                            <h4 class= "bookmark-taste"><%= item.taste %><h4>
                                        </div>
                                    </div>
                                <%end%>
                            <li>
                        <% end %>
                    <%else%>
                        <p>お気に入りはありません</p>
                    <%end%>

                <%= link_to(new_item_path,class: "post-btn") do  %>
                    <span class= "post-btn-text">商品投稿</span>
                    <%= image_tag "icon_barbell.png"  , class: "post-btn-icon" %>
                <%end%>
                <%else %>
                <li> 
                    <div class="user-info-container">
                        <div class="side-container">
                            <h2>新規登録</h2>
                            <div class="explan-login">
                                <span>新規登録をすると、お気に入りのプロテインを保存したり、投稿できたりします。</span>
                            </div>
                            <div class="sign-up-box">
                                <%= link_to "新規登録" , new_user_registration_path , class: "side-sign-up" %> </li>
                            </div>
                        </div>
                    </div>
                 <%end %>  
            </ul>
        </div>
    </div>
<%= render "shared/footer"  %>