<div class = "search-wrap">
  <h2 class = "search-title">
  検索結果
  </h2>
  <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "プロテインを検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <div class="search-list">
    <% @items.each do |item| %>
      <%= render partial: "item", locals: { item: item } %>
    <% end %>
  </div>
</div>
<%= render "shared/footer"  %>