<div class="item-show">
    <div class="item-box">
        <h2 class="show-name">
        Protein Date
        </h2>
        <div class="show-wrap">
            <div class="show-img-wrap">
                <%= image_tag @item.image, class:"show-image" %>
            </div>
            <table class= "detail-table" >
                <tbody>
                    <tr>
                        <th class="detail-item">投稿者</th>
                        <td class="detail-value"><%= @item.user.nickname %></td>
                    </tr>
                    <tr>
                        <th class="detail-item">プロテイン名</th>
                        <td class="detail-value"><%= @item.name %></td>
                    </tr>
                    <tr>
                        <th class="detail-item">味</th>
                        <td class="detail-value"><%= @item.taste %></td>
                    </tr>
                    <tr>
                        <th class="detail-item">価格</th>
                        <td class="detail-value"><%= @item.price %>  円</td>
                    </tr>
                    <tr>
                        <th class="detail-item">タンパク質</th>
                        <td class="detail-value"><%= @item.protein %>  g</td>
                    </tr>
                    <tr>
                        <th class="detail-item">脂質</th>
                        <td class="detail-value"><%= @item.lipid %>  g</td>
                    </tr>
                    <tr>
                        <th class="detail-item">内容量</th>
                        <td class="detail-value"><%= @item.amount %>  g</td>
                    </tr>
                    <tr>
                        <th class="detail-item">おすすめの<br>ポイント</th>
                        <td class="detail-value"><%= @item.impression %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bookmarks" id="bookmark_<%= @item.id %>">
            <%= render 'bookmarks/bookmark', item: @item %>
        </div>
    </div>

    <div class="comments-area">
         <h4 class = "comment-title">コメント一覧</h4>
        <div class="comments">
            <% if @comments.present? %>
                <% @comments.each do |comment| %>
                <p class = "comment-letter">
                    <%= comment.user.nickname %>
                    <%= comment.text%>
                </p>
                <% end %>
             <% else%>
                <p>コメントがありません</p>
            <% end%>
        </div>
        <div class="comments-box">
            <% if user_signed_in? %>
                <%= form_with(model: [@item , @comment ], class:"comment-form", local: true) do |form| %>
                <%= form.text_area :text , placeholder: "コメントする" ,class:"comment-text"%>
                <%= form.submit "送信", class:"comment-btn" %>
                <%end%>
            <% else%>
                <span class="comment-announce">コメントを投稿するには新規登録/ログインが必要です</span>
            <%end%>
        </div>
    </div>

        <% if user_signed_in? && current_user.id == @item.user_id%>
            <%= link_to "編集" , edit_item_path(@item), class: "edit-item-btn" %>
            <%= link_to "削除" , item_path(@item),  method: :delete , class: "delete-item-btn" %>
        <%end%>
        <div class="sell-btn-show">
            <%= link_to "もどる" , root_path, class:"show-back-btn" %>
        </div>
</div>

<%= render "shared/footer" %>

